<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>게시판 - 목록</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!--font awsome cdn-->
  <script src="https://kit.fontawesome.com/358202279e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr class="text-center">
      <th class="text-center" scope="col"><i class="fa-solid fa-list text-center"></i></th>
      <th class="text-center" scope="col">제목</th>
      <th class="text-center" scope="col">작성자</th>
      <th class="text-center" scope="col">작성일</th>
      <th class="text-center" scope="col"><i class="fa-solid fa-heart text-center"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="board : ${boardList}">
      <th class="text-center" scope="row">
        <span th:text="${board.id}"></span>
      </th>
      <td>
        <a th:href="@{'/boards/' + ${board.id}}">
          <span th:text="${board.title}"></span>
        </a>
      <td class="text-center">
        <span th:text="${board.nickname}"></span>
      </td>
      <td class="text-center">
        <span th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
      </td>
      <td class="text-center" th:text="${board.likeCount}"></td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
      <a class="btn btn-primary" th:href="@{/boards/write}" role="button">글쓰기</a>
    </div>
  </div>
</div>
</body>
</html>